$black :black;
/*-------------------------------------------*/
body{
	margin:0px;
	padding:0px;
	font-family: 'Montserrat', sans-serif;
	color:#FFF;
	font-size: 15px;
	background-color: #000;
}
*{
	box-sizing: border-box;
}
/*.container{
	width: 1140px;
	margin: 0 auto;
}*/
p, ul, li, span, div, input, form{
	margin:0px;
	padding:0px;
	display: block;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h5 {
	margin:0px;
	padding:0px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 900;
}
/*-------------------------------------------*/
body{
  padding: 0px;
  margin: 0px ;
  background: #2c333f;
}
.nav{
  height: 80px;
  background: grey;
  margin-bottom: 10px;
  background: #FFF;
  display: flex;

}
.nav__burger{
  width: 90px;
  background: #597aef;
  img{
    width: 33px;
    display: block;
    margin: 30px auto;
  }
}
.nav__line{
  margin-left: auto;
  img{
      display: block;
      margin: 10px;
      margin-right: 150px;
  }
}

.first{
  display: flex;
  justify-content: center;
}
.first__left{
  display: grid;
  grid-template-areas:
  "one_left two_left"
  "three_left three_left";
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-right: 10px;
}
.first__right{
  display: grid;
  grid-template-areas:
  "one_right one_right"
  "two_right two_right";
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.first__right{
  display: grid;

}
.first__left-one{
  grid-area: one_left;
  background: green;
  width: 260px;
  height: 260px;
  background:  url("../img/left-one.jpg") no-repeat center;
  img{
    padding: 10px;
  }
}
.first__left-two{
  grid-area: two_left;
  background: yellow;
  width: 260px;
  height: 260px;
  background: url("../img/left-two.jpg") no-repeat center;
  img{
    padding: 10px;
  }
}
.first__left-three{
  position: relative;
  grid-area: three_left;
  background: grey;
  height: 780px;
  background: url("../img/left-three.jpg") no-repeat center;
  img{
    display: block;
    position: absolute;
    padding: auto 10px 10px auto;
  }
}
.first__right-one{
  grid-area: one_right;
  background: violet;
  background: url("../img/right-one.jpg") no-repeat center;
  img{
    display: block;
    margin: 100% 10px 10px auto;
  }
}
.first__right-two{
  grid-area: two_right;
  background: green;
  width: 530px;
  height: 260px;
  background: url("../img/right-two.jpg") no-repeat center;
  img{
    display: block;
    margin: 100px 10px 10px auto;
  }
}
.test{
  margin: 30px;
}
/*-------------------------------------------*/
.second{
	background: grey;
	margin: 100px auto;
}
.second__one{
	border: 1px solid red;
}
